---
layout: default
title: Features
permalink: /features/
---
<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title" style="font-weight: bolder">Features</h1>

                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ site.url }}">Home</a>
                            </li>
                            <li class="active">Features</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!--.top wrapper end -->

<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                    data-animrepeat="0"
                    data-speed="1s"
                    data-delay="0.5s">
                    <h2 class="h2-section-title">Features</h2>

                    <div class="i-section-title">
                        <i class="icon-params"></i>
                    </div>

                    <div class="space-sep20"></div>
                </div>
            </div>
        </div>
        <div class="space-sep40"></div>

        {% for feature in site.data.features.data %}

            {% if feature.noVerticalSpace == true %}
                {% assign spaceClass = 'space-sep10' %}
            {% else %}
                {% assign spaceClass = 'space-sep100' %}
            {% endif %}

            {% case feature.location %}
            {% when 'left' %}
                <div class="section-content no-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <div class="left-image-container feature fa-border">
                                    <img src="../images/RanttScreenShots/{{feature.img}}" width="477" alt="">
                                </div>
                                <div class="space-sep30"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 animated text-center" data-animtype="fadeInLeft"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <div class="{{spaceClass}}"></div>
                                <h2 class="h2-section-title">{{feature.title}}</h2>
                                <h3 class="h3-section-info">{{feature.info}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% when 'right' %}
                <div class="section-content no-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 animated text-center" data-animtype="fadeInLeft"
                                data-animrepeat="0"
                                data-speed="1s"
                                data-delay="0.4s">
                                <div class="{{spaceClass}}"></div>
                                <h2 class="h2-section-title">{{feature.title}}</h2>
                                <h3 class="h3-section-info">{{feature.info}}</h3>
                            </div>

                            <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                data-animrepeat="0"
                                data-speed="1s"
                                data-delay="0.4s">
                                <div class="right-image-container feature fa-border">
                                    <img src="../images/RanttScreenShots/{{feature.img}}" width="477" alt="">
                                </div>
                                <div class="space-sep30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endcase %}

        {% endfor %}
        <div class="space-sep40"></div>
    </div>
</div>
<!--.content-wrapper end -->
