<footer>
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-text">
                        <div class="copyright-text">&copy; 2014 Rantt | <a href="http://www.simulationmodelling.com.au" target="_blank">Simulation Modelling Services</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ "/js/_jq.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/js/_jquery.placeholder.js" | prepend: site.url }}"></script>

<script src="{{ "/js/activeaxon_menu.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/animationEnigne.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/ie-fixes.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jq.appear.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.base64.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.carouFredSel-6.2.1-packed.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.cycle.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.cycle2.carousel.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jque/ry.easing.1.3.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.easytabs.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.infinitescroll.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.isotope.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.prettyPhoto.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jQuery.scrollPoint.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.themepunch.plugins.min.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.themepunch.revolution.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.tipsy.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/jQuery.XDomainRequest.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/kanzi.js" | prepend: site.url }}" type="text/javascript"></script>/