<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

    <meta name="description" content="Rantt">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <meta name="viewport" content="width=device-widt, initial-scale=1.0">

    <!--- This should placed first off all other scripts -->

    <link rel="stylesheet" href="{{ "/css/revolution_settings.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/axfont.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/tipsy.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/prettyPhoto.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/isotop_animation.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.url }}">

    <link href='{{ "/css/style.css" | prepend: site.url }}' rel='stylesheet' type='text/css'>
    <link href='{{ "/css/responsive.css" | prepend: site.url }}' rel='stylesheet' type='text/css'>

    <link href="{{ "/css/skins/light-blue.css" | prepend: site.url }}" rel='stylesheet' type='text/css' id="skin-file">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="{{ "/css/color-chooser.css" | prepend: site.url }}">
</head>